$color-primary: rgb(128, 22, 44);
$color-secondary: rgb(255, 255, 255);
$background-color: rgb(230, 230, 230);

$color-text: #333;

$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;

$border-radius-big: 10px;
$border-radius-medium: 8px;
$border-radius-small: 5px;

$box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);

$body-padding: 10px;

$max-display-width: 650px;
