.grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .left, //Manual mobile ordering. 
  .right {
    display: contents;
  }
  .left > *:nth-child(3) {
    order: 1;
  }
  .right > *:nth-child(1) {
    order: 2;
  }
  .left > *:nth-child(2) {
    order: 3;
  }
  .right > *:nth-child(2) {
    order: 4;
  }
  .right > *:nth-child(3) {
    order: 5;
  }
  .right > *:nth-child(4) {
    order: 6;
  }
  .right > *:nth-child(5) {
    order: 7;
  }
  .left > *:nth-child(2) {
    order: 8;
  }
  .left > *:nth-child(6) {
    order: 9;
  }

  .right > *:nth-child(6) {
    order: 10;
  }
  .right > *:nth-child(7) {
    order: 11;
  }
  .left > *:nth-child(1) {
    order: 12;
  }
  .right > *:last-child {
    order: 100;
  }
}
