// src/styles/global.scss
@use "./variables";

body {
  background-color: variables.$background-color;
  color: variables.$color-text;
  font-family: "Arial, sans-serif";
  font-size: variables.$font-size-medium;
  overflow: hidden;
}

.background {
  background-image: url(./img/Wohnheim.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(0px);
  overflow-y: scroll;
}
